header{
    position: fixed;
    width: 100%;
    padding: 20px;
    height: 50px;
    background-color: var(--nav-bg);
}
nav{
    display:flex;
    justify-content: space-around;
    font-size: large;   
   
}
nav a{
    color:var(--nav-color) ;
}
.nav_list{
    display: flex;
    column-gap: 2rem;
    list-style: none;
    
}
.main_toggle{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 900;
}
.toggle_1{
    display: none;
}
.toggle_2{
    position: relative;
    display: block;
    width: 50px;
    height: 22px;
    background-color: #555;
    border-radius: 20px;
    transition:background 300ms linear;
    cursor: pointer;
}
.toggle_2:before{
    position: absolute;
    top: 50%;
    left: 5px;
    transform:translateY(-50%);
    content: "";
    display: block;
    width:17px;
    height:17px;
    background-color: #eee;
    border-radius: 50%;
    transition: left 300ms linear;
}
.toggle_1:checked +label{
    background:#C4FB6D ;
}
.toggle_1:checked +label::before{
    left: 30px;
    background-color: #555;
}


@media screen and (max-width:600px) {
    .nav_item{
        display: none;
    }
    .nav_logo{
     font-size: 25px;
    }
    nav{
        justify-content: space-between;
    }
    header{
        padding: 10px;
        box-shadow: 0 0 2px 2px rgba(0 ,0 ,0, 0.15);
}
}