.port_main{
 display: flex;
 flex-direction: column;

}
.port{
    gap: 40px;
}

.proj_tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 330px;
    border-radius: 18px;
    cursor: pointer;
    margin: 20px;
}
.proj_tile:hover{
    background: rgba(0, 0, 0, 0.062);
}
.tile_main{
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 80px;
}
.web_proj h2{
    text-align: center;
}
.web_proj{
    background-color: rgba(0, 0, 0, 0.047);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 50px;
}


.proj_img{
    border-radius: 10px;
    width: 300px;
    height: 200px;
   object-fit:fill;
   
}
.mob_img{
    width: 320px;
    height: 350px;
    object-fit:contain;
    border-radius: 15px;
}
.mob_tile{
    height: 450px;
}
@media screen and (max-width:600px){
    .tile_main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        }


        


}